button.accordion-expander {
  all: inherit;
  cursor: pointer;
  padding: 0;
}
button.accordion-expander:focus-visible {
  outline: 1px solid blue;
}

.json-indent {
  padding-left: 1em;
  border-left: 1px solid #cccccc;
}
.editor-line {
  display: flex;
}
.editor-line:hover {
  background-color: #f8f8f8;
}
.editor-tool {
  margin-left: auto;
}
button.editor-tool {
  background: none;
  border: 1px solid #eeeeee;
}
button.editor-tool:hover {
  background-color: #f0f0f0f0;
}

.json-text-error {
  outline: 1px solid red;
}
